<section class="about">
    
    <div class="about_text_wrap">
        <h1 class="about_title">about</h1>
        <p class="about_text1">IT SQUAD is a digital agency, specialize in front-end development of online stores on the Shopify platform.</p>
        <p class="about_text2">We specialize in front-end development
            of online stores on the Shopify platform. Focused on digitally transforming brands.
            We help businesses launch, grow and gain 
            a competitive edge in today’s digital-led world through strategy and tech. Our mission is 
            to create remarkable digital experiences that connect brands to their customers.</p></div>
    
    <div class="about_img_wrap"
    ><img class="about_img1" src="./images/about1.png" width="570" height="575" alt="">
    
    <img class="about_img2" src="./images/about2.png" width="570" height="575" alt="">
    <p class="about_text3">Based in Ukraine. 
        10% of each project we donate for Ukraine.</p>
</div>
        
</section>