
<header class="header">
    <a class="logo" href="">IT SQUAD</a>
    <nav class="navigation">
        <ul class="navigation_list">
        <li class="navigation_item"><a class="navigation_link" href="">about</a></li>
        <li class="navigation_item"><a class="navigation_link" href="">services</a></li>
        <li class="navigation_item"><a class="navigation_link" href="">projects</a></li>
        <li class="navigation_item"><a class="navigation_link" href="">contacts</a></li>
    </ul>
    </nav>

</header>