<section>
<div class="service_thumb"><h1 class="service_title">services</h1>
    <p class="service_text">We love crafting beautiful, smart and inspired work that
        is focused on a business’ goals and their customers.</p></div>
<ul class="service_list">
    <li class="service_item"><p class="service_link"> Shopify Online Store Development</p></li>
    <li class="service_item"><p class="service_link"> Website Optimization</p></li>
    <li class="service_item"><p class="service_link">Store Migration</p></li>
    <li class="service_item"><p class="service_link">Custom Development</p></li>
    <li class="service_item"><p class="service_link">E-mail Marketing</p></li>
</ul>

</section>