<section class="squad">
    <h1 class="squad_title">IT Squad in numbers</h1>
    <ul class="squad_list">
        <li class="squad_item">
        <p class="squad_item_number">6+</p>
        <p class="squad_item_text
        ">years in business</p>
    </li>
    <li class="squad_item">
        <p class="squad_item_number">9000+</p>
        <p class="squad_item_text
        ">hours coding</p>
    </li>
    <li class="squad_item"><p class="squad_item_number">130+</p><p class="squad_item_text
        ">projects</p></li>
    <li class="squad_item"><p class="squad_item_number">7 500 000 $ +</p>
        <p class="squad_item_text
        ">total revenue to the clients</p></li>
    </ul></section>